@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 158 80% 45%; /* bright green */
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 158 80% 45%; /* match primary green */

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 4%; /* deep navy */
    --foreground: 210 20% 98%;

    --muted: 218 22% 15%;
    --muted-foreground: 210 20% 70%;

    --accent: 221 39% 11%;
    --accent-foreground: 210 40% 98%;

    --popover: 222 47% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 217 33% 14%;
    --input: 217 33% 14%;

    --card: 222 47% 4%;
    --card-foreground: 210 20% 98%;

    --primary: 158 80% 45%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 20% 18%;
    --secondary-foreground: 210 20% 98%;

    --destructive: 0 63% 45%;
    --destructive-foreground: 210 20% 98%;

    --ring: 158 80% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  span,
  a,
  strong,
  em,
  code {
    color: hsl(var(--foreground));
  }

  .background-gradient {
    background-color: #020817;
    background-image: radial-gradient(
        at 30% 20%,
        rgba(62, 229, 141, 0.15) 0,
        transparent 50%
      ),
      radial-gradient(at 80% 10%, rgba(255, 255, 255, 0.08) 0, transparent 50%);
  }
}